[Unit]
Description=My Python Application Service
After=network.target

[Service]
User=myuser
WorkingDirectory={{pwd}}
ExecStart={{path_to_uv}} {{pwd}} /my_app.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=my_app

[Install]
WantedBy=multi-user.target
